:root {
    --default-text: #090909;
    --danger-color: #FE2712;
    --go-color: #66B032;
    --page-background: #304c8c;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:active {
    filter: brightness(85%);
}