html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--page-background);
    touch-action: manipulation !important;
    overflow: hidden;
}

.page {
    width: 100%;
    height: 100%;
}


/*TABLE*/
#table-grid {
    width: calc(100% - 20px);
    height: calc(100% - 20px);

    margin: 10px;

    display: grid;
    grid-template-rows: 20vh 6vh calc(21vh - 10px) 6vh calc(21vh - 10px) 6vh 20vh;
    grid-template-columns: 20vw calc(100% - 40vw) 20vw;
}

.table-vertical-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.table-horizontal-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
}

#table-left-wrapper {
    grid-area: 2/1/7/2;
}

#table-top-wrapper {
    grid-area: 1/1/2/4;
}

#table-right-wrapper {
    grid-area: 2/3/7/4;
    align-items: end;
}

#table-bottom-wrapper {
    grid-area: 7/1/8/4;
}

.table-user-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vmin;
    height: 20vmin;
    color: white;
    transition: color 500ms;
}

.table-user-display-judge {
    color: #ffff00;
}

.table-greencard-score-back {
    width: 100%;
    height: 70%;

    background-image: url("/assets/cards/backs/green.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    justify-content: center;
    text-align: center;
    padding-top: 5%;
    font-size: 12vmin;
    user-select: none;
    color: black;
}

.table-name-display {
    text-align: center;
    color: inherit;
    margin-top: 5%;
    font-size: 120%;
}

.table-card-display-fullscreen {
    position: fixed !important;
    left: 10vw !important;
    top: 5vh !important;
    width: 80vw !important;
    height: 80vh !important;
}

.table-card-display {
    width: 100%;
    height: 100%;

    perspective: 800px;
}

.table-card-inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.table-card-animate {
    transition: transform 1000ms;
}

.table-show-card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.table-card-front, .table-redcard-back, .table-greencard-back {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.table-redcard-back {
    background-image: url("/assets/cards/backs/red.jpg");
}

.table-greencard-back {
    background-image: url("/assets/cards/backs/green.jpg");
}

.table-card-front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#table-greencard {
    grid-area: 3/2/4/3;
}

.table-greencard-shake {
    animation: table-card-shake 2s infinite;
}

@keyframes table-card-shake {
    0% {
        transform: rotate(0deg);
    }
    4% {
        transform: rotate(-5deg);
    }
    8% {
        transform: rotate(5deg);
    }
    12% {
        transform: rotate(-5deg);
    }
    16% {
        transform: rotate(5deg);
    }
    20% {
        transform: rotate(-5deg);
    }
    24% {
        transform: rotate(5deg);
    }
    28% {
        transform: rotate(-5deg);
    }
    32% {
        transform: rotate(0deg);
    }
}

.table-redcard-slide {
    transition: all 0.75s;
}

.table-card-slide {
    transition: all 0.25s;
}

.table-card-slide-top {
    transition: all 1s;
}

.table-redcard-center {
    position: absolute !important;
    margin: 0 !important;
    padding: 0 !important;
    left: 30vw !important;
    width: 40vw !important;
}

.table-redcard-shuffle {
    animation: table-card-shuffle 2s;
    animation-delay: 1s;
}

@keyframes table-card-shuffle {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(-10%);
    }
    30% {
        transform: translateX(10%);
    }
    50% {
        transform: translateX(-10%);
    }
    70% {
        transform: translateX(10%);
    }
    90% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

#table-selected-cards-wrapper {
    display: flex;

    flex-direction: row;
    justify-content: space-around;

    grid-area: 5/2/6/3;
}

#table-selected-cards-wrapper > div{
    flex-grow: 1;
    margin: 2.5%;
}

#table-selection-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 70%;
}

#table-selection-buttons-wrapper {
    position: absolute;
    margin: auto;
    width: 100vw;
    bottom: 3vh;
    text-align: center;
    user-select: none;
}

.table-selection-button {
    display: inline-block;
    position: relative;
    width: auto;
    padding: 0 1% 0 1%;
    margin: 0 0.5% 0 0.5%;
    height: 7vh;
    font-size: 5vmin;
    border: 0;
    border-radius: 1vmin;
    opacity: 200%;
}

#table-exit-button {
    background: white;
}

#table-show-button {
    background: greenyellow;
}

/*JUDGE*/
#judge-card-grid {
    width: 98%;
    height: 98%;
    padding: 1%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
    grid-template-columns: 3fr 1fr 3fr;
    grid-column-gap: 1%;
}

.judge-card-display {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;

    perspective: 800px;
}

.judge-card-slide {
    transition: width 250ms, height 250ms, left 250ms, top 250ms;
}

.judge-card-display-fullscreen {
    position: absolute !important;
    left: 10vw !important;
    top: 5vh !important;
    width: 80vw !important;
    height: 80vh !important;
    margin: 0 !important;
}

#judge-greencard {
    grid-area: 2/2/3/3;
}

#judge-redcards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    grid-area: 4/1/5/4;
}

#judge-redcards-wrapper > div{
    flex-grow: 1;
    margin: 2.5%;
}

.judge-card-inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.judge-redcard-back, .judge-card-front {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.judge-redcard-back {
    background-image: url("/assets/cards/backs/red.jpg");
}

.judge-card-front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.judge-card-animate {
    transition: transform 1000ms;
}

.judge-show-card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

#judge-selection-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 70%;
}

#judge-selection-buttons-wrapper {
    position: absolute;
    margin: auto;
    width: 100vw;
    bottom: 3vh;
    text-align: center;
    user-select: none;
}

.judge-selection-button {
    display: inline-block;
    position: relative;
    width: auto;
    padding: 0 1% 0 1%;
    margin: 0 0.5% 0 0.5%;
    height: 7vh;
    font-size: 5vmin;
    border: 0;
    border-radius: 1vmin;
    opacity: 200%;
}

#judge-exit-button {
    background: white;
}

#judge-select-button {
    background: greenyellow;
}


/*SELECT CARD*/
#select-card-grid {
    width: 98%;
    height: 98%;
    padding: 1%;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 3fr 1fr;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 1%;
}

.select-card-display {
    perspective: 800px;

    transition: width 250ms, height 250ms, left 250ms, top 250ms;
}

.select-card-card-inner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.select-card-animate {
    transition: transform 1000ms;
}

.select-card-show-card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.select-card-front, .select-card-redcard-back {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.select-card-redcard-back {
    display: inline-block;
    background-image: url("/assets/cards/backs/red.jpg");
}

.select-card-front {
    position: fixed;

    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.select-card-card-display-fullscreen {
    position: fixed !important;
    left: 10vw !important;
    top: 5vh !important;
    width: 80vw !important;
    height: 80vh !important;
}

.select-card-deal-start {
    position: fixed;
    top: -50vh;
    left: 45vw;
    transition: width 1000ms, height 1000ms, left 1000ms, top 1000ms !important;
}

#select-card-greencard {
    grid-area: 2/4/3/5;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#select-card-redcard1 {
    grid-area: 4/1/5/2;
}

#select-card-redcard2 {
    grid-area: 4/2/5/3;
}

#select-card-redcard3 {
    grid-area: 4/3/5/4;
}

#select-card-redcard4 {
    grid-area: 4/4/5/5;
}

#select-card-redcard5 {
    grid-area: 4/5/5/6;
}

#select-card-redcard6 {
    grid-area: 4/6/5/7;
}

#select-card-redcard7 {
    grid-area: 4/7/5/8;
}

#select-card-selection-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 70%;
}

#select-card-selection-buttons-wrapper {
    position: absolute;
    margin: auto;
    width: 100vw;
    bottom: 3vh;
    text-align: center;
    user-select: none;
}

.select-card-selection-button {
    display: inline-block;
    position: relative;
    width: auto;
    padding: 0 1% 0 1%;
    margin: 0 0.5% 0 0.5%;
    height: 7vh;
    font-size: 5vmin;
    border: 0;
    border-radius: 1vmin;
    opacity: 200%;
}

#select-card-exit-button {
    background: white;
}

#select-card-select-button {
    background: greenyellow;
}
